body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  width: 75vw;
}

thead {
  background-color: teal;
  color: #ffffff;
}

th {
  padding: 5px 12px;
  border: 1px solid rgba(239, 235, 235, 0.72);
  text-align: center;
}

td {
  padding: 5px 12px;
  border: 1px solid rgba(166, 163, 163, 0.72);
}
